@use "../../styles/variables" as v;

form {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;

	.form-group {
		margin-bottom: 1rem;
		label {
			display: block;
			margin-bottom: 0.5rem;
		}
	}
}
