// Accent Color
$color-accent: #8952e0;

// Utility Colors
$color-success: #00b14a;
$color-warning: #ffb300;
$color-danger: #f85555;

// Background Colors
$color-bg-primary: #171a1d;
$color-bg-secondary: #1d2025;

// Text Colors
$color-text: #f5f5f5;
$color-subtext: #b3b3b3;

// Border Color
$color-border: #282828;

// Sidebar
$sidebar-width: 270px;
$sidebar-sm-width: 40px;

// Header
$header-height: 50px;

// Dialogs
$dialog-width: 450px;

// Onboarding
$onboarding-width: 700px;

// UI
$border-radius: 7px;

// Breakpoints
$breakpoint-laptop: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 480px;
