{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{ app_name }}</title>

		<!-- Favicon -->
		<link rel="shortcut icon" href="{% static 'pages/img/logo.png' %}" />

		<link rel="stylesheet" href="{% static 'pages/css/base.css' %}" />
		<link rel="stylesheet" href="{% static 'pages/css/nav.css' %}" />
		<link rel="stylesheet" href="{% static 'pages/css/footer.css' %}" />
		{% block css %} {% endblock %}
	</head>
	<body>
		<main>
			{% include "pages/nav.html" %} {% block content %}{% endblock %}
		</main>

		{% include "pages/footer.html" %}
	</body>
</html>
