{% load static %}
<footer>
	<div class="footer__container">
		<div class="footer__brand">
			<a class="footer__title">
				<img
					src="{% static 'pages/img/logo.png' %}"
					alt="{{app_name}} Logo"
					class="footer__logo"
				/>
				<div class="footer__name">{{app_name}}</div>
			</a>
			<div class="footer__copyright">
				© {% now "Y" %} {{app_name}}.com
			</div>
		</div>

		<div class="footer__links">
			<div class="footer__links__title">Pages</div>
			<a
				class="footer__links__link"
				href="{% url 'pages-home' %}#features"
				>Features</a
			>
			<a class="footer__links__link" href="{% url 'pages-home' %}#pricing"
				>Pricing</a
			>
			<a class="footer__links__link" href="{% url 'pages-home' %}#faq"
				>FAQ</a
			>
		</div>

		<div class="footer__contact">
			<div class="footer__socials">
				<img
					src="{% static 'pages/img/x.svg' %}"
					alt="X"
					class="footer__social"
				/>
			</div>
			<a href="mailto:hello@{{app_name}}.com" class="footer__email"
				>hello@{{app_name}}.com</a
			>
		</div>
	</div>
</footer>
