// Accent Color
$color-accent: #776bdc;

// Utility Colors
$color-success: #1fb85c;
$color-warning: #ffbb33;
$color-danger: #ff4444;

// Background Colors
$color-bg-primary: #171a1d;
$color-bg-secondary: #1d2025;

// Text Colors
$color-text: #f5f5f5;
$color-subtext: #b3b3b3;

// Border Color
$color-border: #282828;

// Sidebar
$sidebar-width: 220px;
$sidebar-sm-width: 40px;

// Header
$header-height: 60px;

// Dialogs
$dialog-width: 450px;

// Onboarding
$onboarding-width: 700px;

// UI
$border-radius: 5px;

// Breakpoints
$breakpoint-laptop: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 480px;
