@use "../../styles/variables.scss" as v;

.plans {
	.plan__list {
		display: grid;
		gap: 25px;

		&.plans--2 {
			grid-template-columns: repeat(2, minmax(0, 50%));
		}

		&.plans--3 {
			grid-template-columns: repeat(3, minmax(0, 33%));
		}

		&.plans--4 {
			grid-template-columns: repeat(4, minmax(0, 25%));
		}

		.plan__price {
			font-size: 1.5rem;
			font-weight: 600;
		}

		.plan__description {
			color: v.$color-subtext;
		}

		.plan__features {
			display: flex;
			flex-direction: column;
			gap: 10px;

			.plan__feature {
			}
		}
	}
}
