@use "../../styles/variables" as v;

.card {
	background-color: v.$color-bg-secondary;
	border-radius: v.$border-radius;
	border: 1px solid v.$color-border;
	padding: 15px;

	.card__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-bottom: 15px;

		.card__title {
			font-size: 1.3rem;
			font-weight: 600;
			color: v.$color-text;
		}

		.card__action {
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			transition: color 0.2s ease-in-out;

			&:hover {
				color: v.$color-accent;
			}
		}
	}

	.card__body {
		display: flex;
		flex-direction: column;
		gap: 15px;

		.card__row {
			display: flex;
			align-items: center;
			justify-content: space-between;

			.card__row__label {
				color: v.$color-subtext;
			}

			.card__row__value {
			}
		}
	}
}
