@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap");

:root {
	--color-accent: #776bdc;
	--color-accent-10: #8c7edf;
	--color-success: #00b14a;
	--color-warning: #ffb300;
	--color-danger: #f85555;
	--color-bg-primary: #171a1d;
	--color-bg-primary-10: #1d2025;
	--color-bg-secondary: #1d2025;
	--color-text: #f5f5f5;
	--color-subtext: #b3b3b3;
	--color-border: #282828;
	--border-radius: 5px;
	--nav-height: 60px;
}

/* Global Styles with Necessary Resets */
html {
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	letter-spacing: 1px;
	font-size: 12px;
	font-variant-numeric: lining-nums;
	font-feature-settings: "lnum" 1;
	-moz-font-feature-settings: "lnum" 1;
	-moz-font-feature-settings: "lnum=1";
	-ms-font-feature-settings: "lnum" 1;
	-o-font-feature-settings: "lnum" 1;
	-webkit-font-feature-settings: "lnum" 1;
	user-select: none;
}

*::-webkit-scrollbar {
	width: 6px;
}

*::-webkit-scrollbar-thumb {
	background-color: var(--color-accent);
	border-radius: 7px;
}

*::-webkit-scrollbar-track {
	background-color: var(--color-bg-primary);
}

p {
	line-height: 1.5;
}

ul {
	list-style: none;
}

li {
	list-style: none;
}

body {
	font-family: "Raleway", sans-serif;
	background-color: var(--color-bg-primary);
	color: var(--color-text);
	overflow-x: hidden;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: var(--color-text);
	transition: color 0.3s ease-in-out;
}

a:hover {
	color: var(--color-accent);
}

input,
textarea,
button {
	font-family: inherit;
	color: var(--color-text);
}

input {
	width: calc(100% - 20px - 4px);
	padding: 7px 10px;
	border-radius: var(--border-radius);
	background-color: transparent;
	border: 2px solid var(--color-border);
	transition: border-color 0.3s ease-in-out;
}

input:focus {
	outline: none;
	border-color: var(--color-accent);
}

main {
	position: relative;
	padding-top: var(--nav-height);
}

/* Additional global styles based on the palette */
.text-sub {
	color: var(--color-subtext);
}

.success {
	color: var(--color-success);
}

.warning {
	color: var(--color-warning);
}

.danger {
	color: var(--color-danger);
}

.accent {
	color: var(--color-accent);
}

/* Buttons */
.button {
	text-align: center;
	width: calc(100% - 40px - 4px);
	border-radius: var(--border-radius);
	padding: 10px 20px;
	background-color: var(--color-accent);
	color: var(--color-text);
	border: 2px solid var(--color-accent);
	transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	cursor: pointer;
	text-wrap: nowrap;
}

.button.reverse {
	background-color: var(--color-bg-primary);
	border-color: var(--color-border);
}

.button:hover {
	background-color: var(--color-accent-10);
	border-color: var(--color-accent-10);
}

.button.reverse:hover {
	background-color: var(--color-bg-primary-10);
	color: var(--color-text);
	border-color: var(--color-border);
}

.button a:hover,
a.button:hover {
	color: var(--color-text);
}

/* Animations */
.fade-in-up {
	position: relative;
	opacity: 0;
	transform: translateY(20px);
	animation: fadeInUp 0.5s ease-in-out forwards;
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@media only screen and (max-width: 768px) {
	.nav-mobile-active {
		overflow: hidden;
	}
}
