nav {
	position: fixed;
	top: 0;
	width: 100vw;
	height: calc(var(--nav-height) - 1px);
	border-bottom: 1px solid var(--color-border);
	z-index: 999;
	overflow: hidden;
}

nav::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	background-color: var(--color-bg-primary);
	opacity: 0.9;
	z-index: -1;
}

.nav__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	max-width: 1200px;
	padding: 0 60px;
	margin: 0 auto;
	position: relative;
}

.nav__links {
	display: flex;
	align-items: center;
	gap: 25px;
	font-weight: 600;
}

.nav__left {
	display: flex;
	align-items: center;
	gap: 50px;
}

.nav__identity {
	display: flex;
	align-items: center;
	gap: 10px;
}

.nav__title {
	font-size: 20px;
	font-weight: 600;
}

.nav__logo {
	height: 30px;
}

.nav__burger {
	display: none;
	flex-direction: column;
	justify-content: space-between;
	height: 20px;
	width: 25px;
}

.nav__burger__line {
	width: 100%;
	height: 2px;
	background-color: var(--color-text);
	transition: transform 0.15s ease-in-out, width 0.15s ease-in-out;
}

.nav-mobile {
	position: fixed;
	top: var(--nav-height);
	left: -100vw;
	width: 100vw;
	height: calc(100vh - var(--nav-height));
	transition: left 0.15s ease-in-out;
}

.nav-mobile .nav__links {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 25px;
	padding: 50px;
}

.nav-mobile-active .nav__burger .nav__burger__line:nth-child(1) {
	transform: rotate(45deg) translate(6px, 6px);
}

.nav-mobile-active .nav__burger .nav__burger__line:nth-child(2) {
	width: 0;
}

.nav-mobile-active .nav__burger .nav__burger__line:nth-child(3) {
	transform: rotate(-45deg) translate(6px, -7px);
}

@media only screen and (max-width: 768px) {
	.nav__links {
		display: none;
	}

	.nav__container {
		display: flex;
	}

	.nav__burger {
		display: flex;
	}

	.nav-mobile-active .nav-mobile {
		left: 0;
	}
}
